<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Workshop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Workshop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
      <connectionStrings>
        <add name="ConnectionString"
             connectionString="Data Source = TOMPULLAR\MSSQLSERVER01;&#xD;&#xA;             Initial Catalog = Workshop_Database;&#xD;&#xA;             Integrated Security = True;"


             providerName="System.Data.SqlCLient" />
      </connectionStrings>
      <userSettings>
            <Workshop.Properties.Settings>
                  <setting name="ColorTheme" serializeAs="String">
                        <value />
                  </setting>
            </Workshop.Properties.Settings>
      </userSettings>
      <applicationSettings>
            <Workshop.Properties.Settings>
                  <setting name="ProjectName" serializeAs="String">
                        <value>Workshop Rentals</value>
                  </setting>
            </Workshop.Properties.Settings>
      </applicationSettings>
</configuration>
